.navbar {
  background-color: #03044d;
  color: white;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: rgb(99, 99, 245);
}

.logout-text {
  cursor: pointer;
  color: #fff;
  margin: 0 15px;
  transition: background-color 0.3s; 
}

.logout-text:hover {
  color: blue;
}

.welcome-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.welcome{
  margin-right: 20px;
}

.logout-button{
  min-width: 80px;
  height: 30px;
  background-color: blue;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover{
  background-color: #2b2d90;
}
